.callout {
    max-width: 100%;
    width: 405px;
    margin: 10px;
    border: 1px solid #224477;
    padding: 10px;
    background-color: #224477;
    color: white;
}

.callout img {
	float: right;
    border: 1px solid black;
    margin: 10px;
    background: white;
    padding: 3px;
    height: 110px;
    width: 110px;
}

blockquote {
	margin: 10px;
}

cite {
	display: block;
    border-top: 1px dotted white;
    margin: 10px;
    padding-top: 5px;
    text-align: right;
    font-size: 15px;
}