.callout {
    max-width: 100%;
    width: 50%;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: lightblue;
    color: white;
}

.callout img {
	
}

blockquote {
	
}

cite {
	
}