:root{
    --nav-h1-border-color: steelblue;
    --nav-p-padding: 10px;
    --img-width: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border:  1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: "000";
}

nav {
    background-color: var(--nav-h1-border-color);
    padding: var(--nav-p-padding);
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--nav-h1-border-color);
}
img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--nav-h1-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--nav-p-padding);
}
main {
    max-width: 840px;
}
aside {
    width: 20em;
    /* margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333; */
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    /* width: var(--img-width);
    height: auto; */
    float: right;
}

aside p {
    padding: 0;
}

aside h2 {
    position: absolute;
    top: 100px;
    left: 120px;
}

footer{
    margin-top:  15px;
    border-top:  1px solid #000;
    text-align:  center; 
}
