:root{
    --nav-h1-border-color: steelblue;
    --nav-p-padding: 10px;
    --img-width: 150px;
}

nav {
    background-color: var(--nav-h1-border-color);
    padding: var(--nav-p-padding);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--nav-h1-border-color);
}
img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--nav-h1-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--nav-p-padding);
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: var(--img-width);
    height: auto;
}

aside p {
    padding: 0;
}
footer{
    margin-top:  15px;
    border-top:  1px solid #000;
    text-align:  center; 
}
